<div class="card flex justify-content-center">
    <p-card header="Artwork Title" [style]="{ width: '250px' }">
        <ng-template pTemplate="header">
            <a href="">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
            </a>
            <div class="heart-icon">
                <i class="pi pi-heart"></i>
            </div>
        </ng-template>
        <app-user-icon></app-user-icon>
        <a href=""><span> Username</span></a>
    </p-card>
</div>