<div class="card flex justify-content-center">
    <p-card [style]="{ width: '300px', minHeight: '400px' }">
        <ng-template pTemplate="header">
            <a [routerLink]="['/post', post.id]">
                <p-image 
                    [src]="post.imageUrl"
                    alt="Art"
                    width="100%"
                />
            </a>
            <div class="card-header">
                <h2>{{ post.title }}</h2>
                <app-like-button></app-like-button>
            </div>
            <div class="user-info">
                <app-user-icon></app-user-icon>
                <a href="/profile"><span class="username">Username</span></a>
            </div>     
        </ng-template>
    </p-card>
</div>