<div class="card flex justify-content-center">
    <p-card [style]="{ width: '300px' }">
        <ng-template pTemplate="header">
            <a href="/art">
                <app-art-image></app-art-image>
            </a>
            <div class="card-header">
                <h2>Artwork Title</h2>
                <app-like-button></app-like-button>
            </div>
            <div class="user-info">
                <app-user-icon></app-user-icon>
                <a href="/profile"><span class="username"> Username</span></a>
            </div>     
        </ng-template>
    </p-card>
</div>