<div class="main-container">
    <div class="art-container" *ngIf="post; else loading">
        <div class="image-container">
            <p-image 
                [src]="post.imageUrl"
                alt="Art"
                width="100%"
            />
        </div>
        <div class="text-container">
            <div class="user-info">
                <app-user-icon></app-user-icon>
                <a href="/profile"><span class="username"> Username</span></a>
            </div> 
            <div class="art-title">
                <h2>{{ post.title }}</h2>
                <app-like-button></app-like-button>
            </div>
            <p>{{ post.caption}}</p>
            <hr>
            <div class="comment-container">
                <app-user-icon></app-user-icon>
                <input type="text" pInputText id="title" placeholder="Leave a comment"/>
                <p-button icon="pi pi-send" [rounded]="true" [text]="true" />
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <p>Loading post...</p>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </ng-template>