<p-toolbar>
    <div class="p-toolbar-group-start">
        <!--fix sidebar menu button last-->
        <span><a href="/" class="brand-title">Art Vault</a></span>
    </div>
    <div class="p-toolbar-group-center">
        <app-search-bar></app-search-bar>
    </div>
    <div class="p-toolbar-group-end">
        <app-dark-mode-switch></app-dark-mode-switch>
        <app-upload-btn></app-upload-btn>
        <app-auth-button></app-auth-button>
        <ng-container *ngIf="isAuthenticated | async">
            <div class="user-icon">
                <a href="/settings"><app-user-icon></app-user-icon></a>
            </div>
        </ng-container>
    </div>
</p-toolbar>