<p-toolbar>
    <div class="p-toolbar-group-start">
        <!--fix sidebar menu button last-->
        <span><a href="/" class="brand-title">Art Vault</a></span>
    </div>
    <div class="p-toolbar-group-center">
        <app-search-bar></app-search-bar>
    </div>
    <div class="p-toolbar-group-end">
        <app-dark-mode-switch></app-dark-mode-switch>
        <a href="/upload" aria-label="Upload art image"><app-upload-btn></app-upload-btn></a>
        <a href="/profile" aria-label="View profile"><app-user-icon></app-user-icon></a>
    </div>
</p-toolbar>